<?xml version='1.0' encoding='utf-8'?>
| <!DOCTYPE rfc SYSTEM "rfc2629-xhtml.ent" [
// external reference to RFCs
<!ENTITY rfc2119 SYSTEM "http://xml.resource.org/public/rfc/bibxml/reference.RFC.2119.xml">
<!ENTITY dim-protocol-01 SYSTEM "references/reference.dim-protocol-01.xml">
<!ENTITY dim-xml-extension-01 SYSTEM "references/reference.dim-xml-extension-01.xml">
<!ENTITY en-smm-apc-web-dev-guidelines-01 SYSTEM "references/reference.en-smm-apc-web-dev-guidelines-01.xml">
| ]>

// processing instructions
<?rfc toc="yes"?>
<?rfc symrefs="yes"?>
<?rfc compact="yes"?>
<?rfc subcompact="no"?>
<?rfc strict="no"?>
<?rfc rfcedstyle="yes"?>
<?rfc comments="yes"?>
<?rfc inline="yes"?>


// categories: std | bcp | info | exp | historic
rfc(category='info' number='2417691' consensus='false' ipr='trust200902' docName='ntof-software-architecture-01' submissionType='en-smm-apc' xml:lang='en' version='3')
  front
    title n_ToF Software Architecture
    author(fullname='Sylvain Fargier' initials='S.F.' role='editor' surname='Fargier')
      organization CERN
      address
        postal
          street 1, Esplanade des Particules
          code 1217
          city Meyrin
          country Switzerland
        email sylvain.fargier@cern.ch
    date(year='2020' month='February' day="12")

    keyword n_TOF

    abstract
      t This document describes n_TOF experiment software architecture.

  middle

    section
      name Introduction
      t
        | This document describes n_TOF experiment software architecture, as
        | implemented by the EN-SMM-APC team to handle data acquisition and
        | retrieval.

      // This one is a 'must' :)
      section
        name Requirements Notation
        t
          | The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT",
          | "SHOULD", "SHOULD NOT", "RECOMMENDED", "MAY", and "OPTIONAL" in this
          | document are to be interpreted as described in BCP 14,
          | #[xref(target='RFC2119' format='default') RFC2119].

    section(anchor='Overview')
      name Overview

      t Here's a general overview of the n_ToF architecture:
      figure
        name n_ToF General Overview
        artwork(align='center' type='binary-art' src='ntof-software-architecture/Global-Architecture.png')

    section
      name Graphical User Interfaces

      section(anchor='GUI')
        name Operation Graphical User Interface

        t
          | The n_ToF Graphical User Interface (GUI) is developed as a Web-Application
          | following the rules described in #[xref(target='en-smm-apc-web-dev-guidelines-01') APC Web-Dev guidelines].

        section(anchor='GUI_Deploy')
          name Deployment

          t
            | The n_ToF Graphical User Interface (GUI) #[bcp14 MUST] be deployed on an #[tt ntof-daq]
            | #[tt OpenShift] project using #[tt ntofprod] service account, as
            | described in
            | #[xref(target='en-smm-apc-web-dev-guidelines-01') APC Web-Dev guidelines].

          t
            | Two applications #[bcp14 SHOULD] be deployed:
          table
            thead
              tr #[th Application] #[th Endpoint] #[th Description]
            tbody
              tr
                td op-control
                td https://ntof-daq.web.cern.ch/operation
                td stable application deployed using version tags.
              tr
                td op-control-beta
                td https://ntof-daq.web.cern.ch/operation/beta
                td experimental application deployed on every commit.
          
        section(anchor='GUI_BeamLine_Page')
          name BeamLine Page 

          t
            | In this web application there is a BeamLine page where all the information about Vacuum Pumps involved in the 
            | experiment are displayed. For more information about the states, please refer to #[xref(target="EDMS_VACUUM_PUMPS") EDMS document 1689915]
          
      section(anchor='Standalone_DAQ')
        name Standalone-DAQ Graphical User Interface

        t
          | The Standalone-DAQ is an expert Graphical User Interface developed as
          | a Web-Application and meant to directly control a #[xref(target="DAQMANAGER") DaqManager] instance.

        t
          | This software #[bcp14 SHOULD NOT] be used in parallel to the
          | #[xref(target='GUI') main GUI].

        t
          | The n_ToF Standalone-DAQ is developed as a Web-Application
          | following the rules described in #[xref(target='en-smm-apc-web-dev-guidelines-01') APC Web-Dev guidelines].

        section(anchor='SDAQ_Deploy')
          name Deployment

          t
            | The Standalone-DAQ #[bcp14 MUST] be deployed on an #[tt ntof-daq]
            | #[tt OpenShift] project using #[tt ntofprod] service account, as
            | described in
            | #[xref(target='en-smm-apc-web-dev-guidelines-01') APC Web-Dev guidelines].

          t
            | Two applications #[bcp14 SHOULD] be deployed:
          table
            thead
              tr #[th Application] #[th Endpoint] #[th Description]
            tbody
              tr
                td standalone-daq
                td https://ntof-daq.web.cern.ch/standalone
                td stable application deployed using version tags.
              tr
                td standalone-daq-beta
                td https://ntof-daq.web.cern.ch/standalone/beta
                td experimental application deployed on every commit.

          section(anchor='Auth')
            name Authentication

            t
              | Authentication #[bcp14 MUST] be done using #[tt CERN OAuth] (as
              | described in #[xref(target='en-smm-apc-web-dev-guidelines-01') APC Web-Dev guidelines]),
              | using a different client-id for the beta and production accounts.

            t
              | Access #[bcp14 MUST] be limited to #[tt ntof-members] and
              | #[tt ntof-experts] e-group members.

    section
      name Middleware

      section(anchor="DAQMANAGER")
        name DaqManager

        t
          | The DaqManager is the software that controls the high-speed
          | acquisition cards.

        section
          name DIM API

          t The DaqManager implements the following DIM services:
          table(align='center')
            name DaqManager services
            thead
              tr #[th Service] #[th Description]
            tbody
              tr
                td /ListDaqElements
                td #[xref(target="DAQ_ListDaqElements") lists DAQ elements]
              tr
                td /Daq/Command
                td #[xref(target="DAQ_Command") send a command to the DAQ]
              tr
                td /DaqState
                td #[xref(target="DAQ_DaqState") global DAQ state]
              tr
                td /WriterState
                td #[xref(target="DAQ_WriterState") DAQ writer thread state]
              tr
                td /AcquisitionState
                td #[xref(target="DAQ_AcquisitionState") DAQ acquisition thread state]
              tr
                td /WRITER/RunExtensionNumber
                td #[xref(target="DAQ_Writer_RunExtensionNumber") Writer RunExtensionNumber events]
              tr
                td /CARDx/CHANNELx
                td #[xref(target="DAQ_Channel") Channel configuration]
              tr
                td /CARDx/CHANNELx/Calibration
                td #[xref(target="DAQ_Calibration") Channel calibration]
              tr
                td /ZeroSuppression
                td #[xref(target="DAQ_ZeroSuppression") ZeroSuppression configuration]

          section(anchor="DAQ_ListDaqElements")
            name /ListDaqElements Service

            t This service lists available cards and channels.

            figure
              name /ListDaqElements Service #[xref(target="RELAX_NG") relax-ng compact schema].
              sourcecode(type='rnc' src='ntof-software-architecture/DaqManager-ListDaqElements_service.rnc')

          section(anchor="DAQ_Command")
            name /Daq/Command Service

            t This service is a Command Service as described in #[xref(target="dim-xml-extension-01") DIM XML Extension].

            figure
              name /Daq/Command Service #[xref(target="RELAX_NG") relax-ng compact schema].
              sourcecode(type='rnc' src='ntof-software-architecture/DaqManager-Daq_Command_cmd.rnc')

          section(anchor="DAQ_DaqState")
            name /DaqState Service

            t
              | This service is a State Service as described in
              | #[xref(target="dim-xml-extension-01") DIM XML Extension],
              | it reports the current DAQ state.

            figure
              name DaqState state diagram
              artwork(align='center' type='binary-art' src='ntof-software-architecture/DaqManager-DaqState.png')

          section(anchor="DAQ_WriterState")
            name /WriterState Service

            t
              | This service is a State Service as described in
              | #[xref(target="dim-xml-extension-01") DIM XML Extension],
              | it reports the DAQ writer thread state.

            figure
              name WriterState state diagram
              artwork(align='center' type='binary-art' src='ntof-software-architecture/DaqManager-WriterState.png')

          section(anchor="DAQ_AcquisitionState")
            name /AcquisitionState Service

            t
              | This service is a State Service as described in
              | #[xref(target="dim-xml-extension-01") DIM XML Extension],
              | it reports the DAQ acquisition state.

            figure
              name Acquisition state diagram
              artwork(align='center' type='binary-art' src='ntof-software-architecture/DaqManager-AcquisitionState.png')

          section(anchor="DAQ_Writer_RunExtensionNumber")
            name /WRITER/RunExtensionNumber Service

            t
              | This service gives some information about the last event that has
              | been written to disk.

            t
              | This service is used by the #[xref(target="RawFileMerger") RawFileMerger]
              | in standalone-mode.

            figure
              name /WRITER/RunExtensionNumber Service #[xref(target="RELAX_NG") relax-ng compact schema].
              sourcecode(type='rnc' src='ntof-software-architecture/DaqManager-WRITER_RunExtensionNumber.rnc')

          section(anchor="DAQ_Channel")
            name /CARDx/CHANNELx Service

            t
              | This service is a Parameters Service as described in
              | #[xref(target="dim-xml-extension-01") DIM XML Extension],
              | it is used to configure acquisition cards.

            table
              name /CARDx/CHANNELx service parameters
              thead
                tr #[th name] #[th index] #[th description]
              tbody
                tr #[td Is channel enabled?] #[td 1] #[td Used to enable/disable a channel]
                tr #[td Detector type] #[td 2] #[td Detector Name (4 letters)]
                tr #[td Detector id] #[td 3] #[td Detector ID]
                tr #[td Module type] #[td 4] #[td Module/Card type (readonly)]
                tr #[td Channel id] #[td 5] #[td Channel ID]
                tr #[td Module id] #[td 6] #[td Module ID]
                tr #[td Chassis id] #[td 7] #[td Chassis ID]
                tr #[td Stream id] #[td 8] #[td Stream ID (always 1)]
                tr #[td Sample rate] #[td 9] #[td Sample rate in MS/s]
                tr #[td Sample size] #[td 10] #[td Sample size in kS]
                tr #[td Full scale] #[td 11] #[td FullScale in mV]
                tr #[td Delay time] #[td 12] #[td post-trigger delay in samples]
                tr #[td Threshold] #[td 13] #[td ZeroSuppression Threshold in mV]
                tr #[td Threshold sign] #[td 14] #[td ZeroSuppression Threshold sign (negative: 0| positive: 1)]
                tr #[td Zero suppression start] #[td 15] #[td ZeroSuppression start offset]
                tr #[td Offset] #[td 16] #[td ZeroSuppression Threshold offset offset in mV]
                tr #[td Pre samples] #[td 17] #[td ZeroSuppression pre-samples to keep]
                tr #[td Post samples] #[td 18] #[td ZeroSuppression post-samples to keep]
                tr #[td Clock state] #[td 19] #[td Clock state (INTC|EXTC)]
                tr #[td Input impedance] #[td 20] #[td Input impedance]

            figure
              name /CARDx/CHANNELx service parameters example
              sourcecode(type="xml" src="ntof-software-architecture/DaqManager-CARDx_CHANNELx_ex.xml")

            t Here is a graphical representation of some of those parameters:
            figure
              name Acquisition Window
              artwork(align='center' type='binary-art' src='ntof-software-architecture/DaqManager-AcquisitionWindow.png')

            t
              | Some #[em virtual] parameters are added into graphical user
              | interfaces to simplify the physicists work:
            ul
              li #[strong Lower Limit] the recorded signal acquisition window lower bound, #[tt offset] is computed out of it (Lower Limit = -offset - Full scale / 2).
              li #[strong Time Window] the acquisition time window, #[tt Sample size] is computed out of it (Time Window = Sample size / Sample rate).

            section
              name SPDevices cards

              t
                | SPDevices cards (#[tt Module type] S014 or S412) have some additional
                | constraints:
              ul
                li
                  | #[tt Sample size], #[tt Sample rate ] and #[tt Delay time]
                  | #[bcp14 MUST] be identical for all channels of a given card.

          section(anchor="DAQ_Calibration")
            name /CARDx/CHANNELx/Calibration Service

            t
              | This service is a DataSet Service as described in
              | #[xref(target="dim-xml-extension-01") DIM XML Extension],
              | it is used to retrieve calibrated values once cards have been
              | calibrated.

            table
              name /CARDx/CHANNELx/Calibration service data
              thead
                tr #[th name] #[th index] #[th type] #[th= "modif. state"] #[th description]
              tbody
                tr #[td Calibrated full scale] #[td 0]  #[td 8 (float)] #[td] #[td calibrated full scale value]
                tr #[td Calibrated offset]     #[td 1]  #[td 8]         #[td] #[td calibrated offset value]
                tr #[td Calibrated threshold]  #[td 2]  #[td 8]         #[td] #[td calibrated zero-suppression threshold]

          section(anchor="DAQ_ZeroSuppression")
            name /ZeroSuppression Service

            t This service is a Parameters Service as described in #[xref(target="dim-xml-extension-01") DIM XML Extension].

            t
              | It is used in addition to Zero Suppression related
              | parameters on each #[xref(target="DAQ_Channel") channel configuration]
              | to define the global ZeroSuppression mode:
            ul
              li #[strong Single Master]: only one channel is used as ZeroSuppression master.
              li #[strong Master]: a set of slave channels is described for each channel, channels not described as slaves are "independent".
              li #[strong Independent]: all channels are independent.

            t
              | #[tt Full scale], #[tt Threshold], #[tt Threshold sign],
              | #[tt Zero suppression start], #[tt Offset] parameters are ignored
              | on slave channels, Zero Suppression detection being run on the
              | master channel.

            t
              | #[tt Pre samples] and #[tt Post samples] parameters are the
              | ones set on the slave channel.

            figure
              name /ZeroSuppression Service #[xref(target="RELAX_NG") relax-ng compact schema].
              sourcecode(type='rnc' src='ntof-software-architecture/DaqManager-ZeroSuppression.rnc')

        section
          name Zero Suppression

          t
            | Zero Suppression is a data filtering algorithm that tries to remove
            | non-significant data (noise) from the records in order to reduce
            | the acquisition files size.

          t It is based on a reference signal level filtering (master channel):
          figure
            name ZeroSuppression introduction
            artwork(align='center' type='binary-art' src='ntof-software-architecture/DaqManager-ZeroSuppression.png')

          t
            | Data outside of the #[tt Pre-Samples]/#[tt Post-Samples] and
            | #[tt triggered] range is filtered-out.

        section
          name Acquisition Parameters' Limits

          t The DaqManager introduces certain limitations to the acquisition parameters.
          table(align='center')
            name Impedance limitations
            thead
              tr #[th Card] #[th Limitations]
            tbody
              tr
                td DC240
                td #[tt 50 or 1E6]
              tr
                td DC270
                td #[tt 50 or 1E6]
              tr
                td DC282
                td #[tt 50]
              tr
                td ADQ14
                td #[tt 50]
              tr
                td ADQ412
                td #[tt 50]

          table(align='center')
            name Sample Rate limitations
            thead
              tr #[th Card] #[th Available Values]
            tbody
              tr
                td DC240
                td #[tt 1, 10, 50, 100, 200, 250, 400, 500, 1000, 2000MS/s]
              tr
                td DC270
                td #[tt 10, 50, 100, 200, 250, 400, 500, 1000MS/s]
              tr
                td DC282
                td #[tt 10, 50, 100, 200, 250, 400, 500, 1000, 2000MS/s]
              tr
                td ADQ14
                td #[tt 14.0625, 28.125, 56.25, 112.5, 125, 250, 500, 1000MS/s]
              tr
                td ADQ412
                td #[tt 14.0625, 28.125, 56.25, 112.5, 225, 450, 900, 1800MS/s]

          table(align='center')
            name Full Scale limitations
            thead
              tr #[th Card] #[th Limitations]
            tbody
              tr
                td DC240
                td #[tt &gt; 50mV and &lt; 5000mV]
              tr
                td DC270
                td #[tt &gt; 50mV and &lt; 5000mV]
              tr
                td DC282
                td #[tt &gt; 50mV and &lt; 5000mV]
              tr
                td ADQ14
                td #[tt &gt; 50mV and &lt; 5000mV]
              tr
                td ADQ412
                td #[tt &gt; 100mV and &lt; 5000mV]

          table(align='center')
            name Sample Size limitations
            thead
              tr #[th Card] #[th Limitations]
            tbody
              tr
                td DC240
                td #[tt &lt; 16000kS and not 0]
              tr
                td DC270
                td #[tt &lt; 8000kS and not 0]
              tr
                td DC282
                td #[tt &lt; 32000Ks and not 0]
              tr
                td ADQ14
                td #[tt &lt; 256E6  and not 0]
              tr
                td ADQ412
                td #[tt &lt; 175000kS and not 0]

          table(align='center')
            name Offset limitations
            thead
              tr #[th Card] #[th Limitations]
            tbody
              tr
                td DC240
                td #[tt up to +-20000mV for Full Scale &gt; 500mVpp, else +-2000mV]
              tr
                td DC270
                td #[tt up to +-20000mV for Full Scale &gt; 500mVpp, else +-2000mV]
              tr
                td DC282
                td #[tt up to +-5000mV for Full Scale &gt; 1000mVpp, else +-2000mV]
              tr
                td ADQ14
                td #[tt up to +-2500mV ]
              tr
                td ADQ412
                td #[tt up to +-2500mV ]

      section(anchor="TIMING")
        name Timing

        t
          | The Timing service synchronizes all DAQs either to the beam or to
          | periodic events.

        section
          name DIM API

          t The Timing implements the following DIM services:
          table(align='center')
            name Timing services
            thead
              tr #[th Service] #[th Description]
            tbody
              tr
                td Timing
                td #[xref(target="TIMING_Params") Timing configuration]
              tr
                td Timing/event
                td #[xref(target="TIMING_Event") Event information]

          section(anchor="TIMING_Params")
            name Timing Parameters

            t
              | This service is a Parameters Service as described in
              | #[xref(target="dim-xml-extension-01") DIM XML Extension],
              | it is used to configure the Timing service.

            table
              name Timing service parameters
              thead
                tr #[th name] #[th index] #[th description]
              tbody
                tr #[td mode] #[td 1] #[td Timing mode enum parameter]
                tr #[td Calibration trigger repeat] #[td 2] #[td Repeat count for CALIBRATION mode]
                tr #[td Calibration trigger period] #[td 3] #[td Period for CALIBRATION mode in ms]
                tr #[td Calibration trigger pause] #[td 4] #[td Pause for CALIBRATION mode in ms]
                tr #[td Event number] #[td 5] #[td Current event number]
                tr #[td CALIBRATION out enabled] #[td 6] #[td Output channel configuration]
                tr #[td PARASITIC out enabled] #[td 7] #[td Output channel configuration]
                tr #[td PRIMARY out enabled] #[td 8] #[td Output channel configuration]

            figure
              name Timing service parameters example
              sourcecode(type="xml" src="ntof-software-architecture/Timing-parameters.xml")

          section(anchor="TIMING_Event")
            name Timing Event

            t
              | This service contains the last timing event information, it is
              | being monitored by services such as the DaqManager.

            figure
              name /Timing/event Service #[xref(target="RELAX_NG") relax-ng compact schema].
              sourcecode(type='rnc' src='ntof-software-architecture/Timing-event.rnc')

        section(anchor="TIMING_Calib")
          name Calibration mode

          t
            | The calibration mode generates periodic triggers, using
            | #[xref(target="TIMING_Params") Timing configuration] as follow:
          figure
            name Timing Calibration Mode
            artwork(align='center' type='binary-art' src='ntof-software-architecture/Timing-calib.png')

      section(anchor="BCTREADER")
        name BCT Reader

        t
          | The BCT Reader service synchronizes the cycleStamp of Timing Events
          | with BCT Device events coming from #[xref(target="BCTFPS_FESA") FTN.BCT468 FESA device].

        section
          name Configuration

          t
            | The #[em BCT Reader] service #[bcp14 SHOULD] be configured in order to define
            | service names and cycleStamp index.
          figure
            name BCTReader Configuration #[xref(target="RELAX_NG") relax-ng compact schema].
            sourcecode(type='rnc' src='ntof-software-architecture/BCTReader_Configuration.rnc')

          t The configuration file default location is
            | #[tt "/etc/ntof/bctreader.xml"].

          t
            | The list of available hardware and services is retrieved from the
            | #[xref(target='GLOBAL_CONFIG') global configuration] file.

        section
          name DIM API

          t The BCT Reader implements the following DIM service:
          table(align='center')
            name BCT Reader service
            thead
              tr #[th Service] #[th Description]
            tbody
              tr
                td FTN.BCT468.TOF
                td #[xref(target="BCTDevice_Params") BCT Device Data]

          section(anchor="BCTDevice_Params")
            name BCT Device Data

            t
              | This service is a DIM XML Service as described in
              | #[xref(target="dim-xml-extension-01") DIM XML Extension],
              | it is used to provide BCT Device data.

            t
              | For the full list of published parameters, consult #[xref(target="BCTFPS_FESA") the FESA class],
              | under the property #[tt Acquisition]

            table
              name BCT Device data.
              thead
                tr #[th name] #[th index] #[th type] #[th description]
              tbody
                tr #[td cycleStamp]               #[td 1] #[td 4 (int64)] #[td Cycle Timestamp]
                tr #[td totalIntensityPreferred]  #[td 13] #[td 4 (int64)] #[td Contains intensity for either ch1 or ch2 (it depends on settings)]
                tr #[td ...]                      #[td *] #[td *] #[td All the remaining attributes published by the BCTFPS FESA class]

            t
              | NOTE: Index of #[tt totalIntensityPreferred] needs to be checked once this service will be running.

      section(anchor="EACS")
        name EACS

        t
          | The #[em EACS] service is used as a scheduler to synchronize all
          | components together.

        t
          | It #[bcp14 MUST] be the main entry point for the #[xref(target='GUI') GUI].

        section
          name Configuration

          t
            | The #[em EACS] service #[bcp14 SHOULD] be configured to define
            | thresholds and timeout values.
          figure
            name EACS Configuration #[xref(target="RELAX_NG") relax-ng compact schema].
            sourcecode(type='rnc' src='ntof-software-architecture/EACS_Configuration.rnc')

          t The configuration file default location is
            | #[tt "/etc/ntof/eacs.xml"].

          t
            | The list of available hardware and services is retrieved from the
            | #[xref(target='GLOBAL_CONFIG') global configuration] file.

        section
          name DIM API

          t The EACS service implements the following DIM services
          table(align='center')
            name DIM services
            thead
              tr #[th Service] #[th Description]
            tbody
              tr
                td EACS/Cmd
                td #[xref(target="EACS_Command") EACS Control]
              tr
                td EACS/Config
                td #[xref(target="EACS_Config") EACS configuration service]
              tr
                td EACS/Info
                td #[xref(target="EACS_Info") EACS general information]
              tr
                td EACS/State
                td #[xref(target="EACS_State") EACS service state]
              tr
                td EACS/RunInfo
                td #[xref(target="EACS_RunInfo") EACS Current Run Information]
              tr
                td EACS/RunConfig
                td #[xref(target="EACS_RunConfig") EACS next run configuration]
              tr
                td EACS/Daq/List
                td #[xref(target="EACS_Daq_List") EACS Daqs introspection service]
              tr
                td EACS/Daq/&lt;name&gt;/CARDx/CHANNELx
                td #[xref(target="EACS_Daq_Chan") EACS Daq channel configuration]
              tr
                td EACS/Daq/&lt;name&gt;/ZeroSuppression
                td #[xref(target="EACS_Daq_ZSP") EACS Daq zero-suppression configuration]
              tr
                td EACS/Events
                td #[xref(target="EACS_Events") EACS last received events information]
              tr
                td EACS/Timing
                td #[xref(target="EACS_Timing") Last received Event information]
              // tr
                td EACS/HighVoltage
                td #[xref(target="EACS_HV") High Voltage]
              // tr
                td EACS/Alarms
                td #[xref(target="EACS_Alarms") Alarms threshold configuration]


          section(anchor="EACS_Command")
            name EACS/Cmd control service

            t This service is a Command Service as described in #[xref(target="dim-xml-extension-01") DIM XML Extension].

            t It is used to control the EACS and supports the following commands:
            table
              thead
                tr #[th Command] #[th Valid States] #[th Description]
              tbody
                tr #[td start] #[td IDLE] #[td start a run]
                tr #[td stop] #[td #[strong not] IDLE, LOADING or ERROR] #[td stop the run]
                tr #[td reset] #[td IDLE, ERROR] #[td reset the EACS state and configuration]
                tr #[td config] #[td IDLE] #[td load a configuration]

            t
              | The #[em config] command is equivalent to #[em setConfig] call
              | on #[xref(target="EACS_Config") EACS/Config] service.

            figure
              name EACS/Cmd service #[xref(target="RELAX_NG") relax-ng compact schema].
              sourcecode(type='rnc' src='ntof-software-architecture/EACS_Cmd_cmd.rnc')

          section(anchor="EACS_Config")
            name EACS/Config service

            t
              | This service is an XML/RPC service as described in
              | #[xref(target='dim-xml-extension-01') DIM XML Extension], it
              | is used to set or get the complete EACS configuration.

            figure
              name EACS/RpcIn
              sourcecode(type='rnc' src='ntof-software-architecture/EACS_Config_RpcIn.rnc')

            t
              | The #[em getConfig] returns the complete EACS configuration,
              | as a list of #[em service] elements that contains the parameters
              | of each EACS service.

            t
              | The #[em setConfig] can set the complete EACS configuration or
              | only parts, it is up to the caller to specify only part or
              | the all parameters at once.

            t
              | Configuring a non-existent service #[bcp14 SHOULD NOT] fail,
              | it #[bcp14 MAY] report a warning (ex: reloading a configuration,
              | but some daqs have been removed).

            t
              | Calling #[em setConfig] in any other state than #[em IDLE],
              | #[bcp14 MUST] be rejected.

          section(anchor="EACS_Info")
            name EACS/Info service

            t
              | This service is a DataSet service as described in
              | #[xref(target="dim-xml-extension-01") DIM XML Extension],
              | it reports the EACS general configuration information.

            figure
              name EACS general information
              sourcecode(type='rnc' src='ntof-software-architecture/EACS_Info.rnc')

          section(anchor="EACS_State")
            name EACS/State service

            t
              | This service is a State Service as described in
              | #[xref(target="dim-xml-extension-01") DIM XML Extension],
              | it reports the current EACS state.

            figure
              name EACS state diagram
              artwork(align='center' type='binary-art' src='ntof-software-architecture/EACS-ServiceStateMachine.png')

          section(anchor="EACS_RunInfo")
            name EACS/RunInfo service

            t
              | This service is a Parameters Service as described in
              | #[xref(target="dim-xml-extension-01") DIM XML Extension],
              | it reports information about the ongoing acquisition.

            table
              name EACS/RunInfo service data
              thead
                tr #[th name] #[th index] #[th type] #[th= "modif. state"] #[th description]
              tbody
                tr #[td runNumber]        #[td 1]  #[td 11 (uint32)] #[td] #[td run number]
                tr #[td eventNumber]      #[td 2]  #[td 11]          #[td] #[td event number]
                tr #[td validatedNumber]  #[td 3]  #[td 11]          #[td] #[td Number of events validated]
                tr #[td validatedProtons] #[td 4]  #[td 8 (float)]   #[td]      #[td Total number of validated protons]
                tr #[td title]            #[td 5]  #[td 3 (string)]  #[td *]    #[td Run title]
                tr #[td description]      #[td 6]  #[td 3]           #[td *]    #[td Run description]
                tr #[td area]             #[td 7]  #[td 3]           #[td]      #[td= "Area identification (ex: EAR1, LAB ...)"]
                tr #[td experiment]       #[td 8]  #[td 3]           #[td] #[td Experiment name, will be used to archive files]
                tr #[td detectorsSetupId] #[td 9]  #[td 4 (int64)]   #[td] #[td Detectors setup id]
                tr #[td materialsSetupId] #[td 10] #[td 4]           #[td] #[td Materials setup id]

            t
              | Parameters modifications #[bcp14 SHOULD] be allowed only on the
              | above mentioned states, parameters where the #[em modifiable state]
              | column is left blank are read-only.

            t
              | Starting a run with no #[em materialsSetupId] or no #[em detectorSetupId]
              | #[bcp14 MUST] result in an error.

          section(anchor="EACS_RunConfig")
            name EACS/RunConfig service

            t
              | This service is a Parameters Service as described in
              | #[xref(target="dim-xml-extension-01") DIM XML Extension],
              | it reports and allow configuration of next acquisition.

            table
              name EACS/NextRunConfig service data
              thead
                tr #[th name] #[th index] #[th type] #[th= "modif. state"] #[th description]
              tbody
                tr #[td runNumber]        #[td 1]  #[td 11 (uint32)] #[td] #[td run number]
                tr #[td title]            #[td 5]  #[td 3 (string)]  #[td *]    #[td Run title]
                tr #[td description]      #[td 6]  #[td 3]           #[td *]    #[td Run description]
                tr #[td experiment]       #[td 8]  #[td 3]           #[td *] #[td Experiment name, will be used to archive files]
                tr #[td detectorsSetupId] #[td 9]  #[td 4 (int64)]   #[td *] #[td Detectors setup id]
                tr #[td materialsSetupId] #[td 10] #[td 4]           #[td *] #[td Materials setup id]

            t
              | Parameters modifications #[bcp14 SHOULD] be allowed only on the
              | above mentioned states, parameters where the #[em modifiable state]
              | column is left blank are read-only.

            t
              | #[em detectorsSetupId] and #[em materialsSetupId] parameters
              | #[bcp14 SHOULD] default to #[em -1],
              | indicating that the value is not yet configured.

            t
              | Starting a run with no #[em materialsSetupId] or no #[em detectorSetupId]
              | #[bcp14 MUST] result in an error.

          section(anchor="EACS_Daq_List")
            name EACS/Daq/List service

            t
              | This service is a DataSet Service as described in
              | #[xref(target="dim-xml-extension-01") DIM XML Extension],
              | it lists available Daq services.

            t
              | #[xref(target="EACS_Daq_Chan")= "EACS/Daq/<name>/CARDx/CHANNELx"] and
              | #[xref(target="EACS_Daq_ZSP")= "EACS/Daq/<name>/ZeroSuppression"]
              | services #[bcp14 MUST] match the ones described in this service.

            figure
              name EACS Daq List service
              sourcecode(type='rnc' src='ntof-software-architecture/EACS_Daq_List.rnc')

            figure
              name EACS Daq List service example
              sourcecode(type='XML' src='ntof-software-architecture/EACS_Daq_List.xml')

            t
              | The #[em used] data element is optional and #[bcp14 MAY] be
              | omitted when false, it #[bcp14 MUST] be set on cards and
              | channels that are actually used.

            t
              | The #[tt channelsCount], #[tt type] and #[tt serialNumber] elements
              | references elements in
              | #[xref(target="DAQ_ListDaqElements") lists DAQ elements] service,
              | respectively #[tt nbChannel], #[tt type] and #[tt serialNumber]

          section(anchor="EACS_Daq_Chan")
            name= "EACS/Daq/<name>/CARDx/CHANNELx service"

            t
              | This service has the same content than the
              | #[xref(target="DAQ_Channel") Daq Channel] service,
              | it is used to prepare each channel configuration.

            t
              | Modifications on this service in any other state than #[em IDLE]
              | #[bcp14 MUST] be rejected.

          section(anchor="EACS_Daq_ZSP")
            name EACS/Daq/&lt;name&gt;/ZeroSuppression

            t
              | This service has the same content than the
              | #[xref(target="DAQ_ZeroSuppression") Daq ZeroSuppression] service,
              | it is used to prepare each card's zeroSuppression configuration.

            t
              | Modifications on this service in any other state than #[em IDLE]
              | #[bcp14 MUST] be rejected.

          section(anchor="EACS_Events")
            name EACS/Events service

            t
              | This service is a DataSet Service as described in
              | #[xref(target="dim-xml-extension-01") DIM XML Extension],
              | it displays the last events managed by the EACS.

            figure
              name EACS Events service
              sourcecode(type='rnc' src='ntof-software-architecture/EACS_Events.rnc')

            t
              | This service #[bcp14 MUST] display up to #[em eventsHistorySize] as
              | set in #[xref(target="EACS_Config") Configuration file].

          section(anchor="EACS_Timing")
            name EACS/Timing service

            t
              | This service has the same content than the
              | #[xref(target="TIMING_Params") Timing] service,
              | it is used to prepare its configuration.

            t
              | Modifications on this service in any other state than #[em IDLE]
              | #[bcp14 MUST] be rejected.

      section(anchor="RawFileMerger")
        name RawFile Merger

        t
          | The #[em RawFile Merger] service is used to merge acquisition files in
          | a single stream of files, that will be split according to the number
          | of events or size they reach.

        t
          | Once complete files are then copied and archived using #[xref(target='CTA') CERN Tape Archive]
          | tape storage.

        section
          name File state

          t
            | A file can be in the following states:
          ul
            li #[strong INCOMPLETE] file is not yet finished, some data can be appended.
            li #[strong WAITING_FOR_APPROVAL] file is pending for approval.
            li #[strong WAITING] file is waiting to be transferred on CTA.
            li #[strong TRANSFERRING] the file is being transferred to CTA.
            li #[strong COPIED] the file has been copied to CTA, but not yet migrated on tape.
            li #[strong MIGRATED] the file has been migrated on tape.
            li #[strong IGNORED] the file should not be copied to CTA.
            li #[strong FAILED] the file transfer failed somehow, further attempts may be achieved.

        section
          name File conflicts handling

          t
            | The RawFileMerger supports two different file conflict handling
            | strategies:
          ul
            li
              | #[strong RENAME]: old file is renamed with #[tt ".old"] suffix,
              | or #[tt= '".old[0-9]+"'] incrementing a counter until it finds a
              | free slot.
            li #[strong DELETE]: old file is simply deleted.

          t #[strong Note:] empty files are always deleted.

        section
          name Configuration

          t
            | The #[em RawFileMerger] service #[bcp14 MAY] be configured:
          figure
            name RawFileMerger configuration
            sourcecode(type='rnc' src='ntof-software-architecture/RawFileMerger_Configuration.rnc')

          t
            | The configuration file default location is
            | #[tt "/root/config/merger.xml"].

        section
          name DIM API

          t The RawFileMerger service implements the following DIM services
          table(align='center')
            name DIM services
            thead
              tr #[th Service] #[th Description]
            tbody
              tr
                td MERGER/State
                td #[xref(target='MERGER_State') RawFile Merger service state]
              tr
                td MERGER/Cmd
                td #[xref(target='MERGER_Cmd') RawFile Merger command service]
              tr
                td MERGER/Info
                td #[xref(target='MERGER_Info') RawFile Merger stats and info service]
              tr
                td MERGER/Runs
                td #[xref(target='MERGER_Runs') RawFile Merger runs info service]
              tr
                td MERGER/Current
                td #[xref(target='MERGER_Current') RawFile Merger current run info service]
              tr
                td MERGER/Current/Files
                td #[xref(target='MERGER_Current_Files') RawFile Merger current run files info service]
              tr
                td MERGER/Files RPC
                td #[xref(target='MERGER_Files_RPC') RawFile Merger files info RPC]

          section(anchor="MERGER_State")
            name MERGER/State service

            t
              | This service is a State Service as described in
              | #[xref(target="dim-xml-extension-01") DIM XML Extension],
              | it reports the current RawFile Merger state.

            t
              | This state machine is really basic and is mostly used to report
              | errors and warnings, it has only one state (in addition to the
              | builtin states): #[tt OK(0)]
            t
              | A non exhaustive list of possible errors and warnings:
            table(align="center")
              name RawFile Merger errors
              thead
                tr #[th Error] #[th Code] #[th Type] #[th Description]
              tbody
                tr #[td= "<filename>"] #[td incremental] #[td warning] #[td some warning about a specific file]
                tr #[td= "<filename>"] #[td incremental] #[td error] #[td some error about a specific file]
                tr #[td CmdError] #[td 1] #[td error] #[td received command error]
                tr #[td runCompletionChecker] #[td incremental] #[td error] #[td something went wrong in the runCompletionChecker thread]
                tr #[td Deleter] #[td incremental] #[td error] #[td something went wrong in the FileDeleter thread]

            t
              | The maximum number of active warnings and errors is limited
              | dropping incoming errors and warnings when there's already too
              | much (default limit: #[tt 20]).

          section(anchor="MERGER_Cmd")
            name MERGER/Cmd service

            t This service is a Command Service as described in #[xref(target="dim-xml-extension-01") DIM XML Extension].

            figure
              name MERGER/Cmd Service #[xref(target="RELAX_NG") relax-ng compact schema].
              sourcecode(type='rnc' src='ntof-software-architecture/RawFileMerger_Cmd_cmd.rnc')

            t
              | #[strong Note:] A run can be pre-#[tt approved] upon creation, but
              | it then also #[bcp14 MUST] have its #[tt experiment] set.

            t
              | #[strong Note:] When an #[tt event] is received on an unknown or
              | stopped run it #[bcp14 MUST] be ignored.

            t
              | #[strong Note:] Calling #[tt runDelete] entirely wipes existing
              | files and information relative to a specific run.

          section(anchor="MERGER_Info")
            name MERGER/Info service

            t
              | This service is a DataSet Service as described in
              | #[xref(target="dim-xml-extension-01") DIM XML Extension],
              | it provides global information about the RawFileMerger state.

            figure
              name MERGER/Info Service #[xref(target="RELAX_NG") relax-ng compact schema].
              sourcecode(type='rnc' src='ntof-software-architecture/RawFileMerger_Info.rnc')

          section(anchor="MERGER_Runs")
            name MERGER/Runs service

            t
              | This service is a Parameters Service as described in
              | #[xref(target="dim-xml-extension-01") DIM XML Extension],
              | it provides overall information about runs.

            figure
              name MERGER/Runs Service #[xref(target="RELAX_NG") relax-ng compact schema].
              sourcecode(type='rnc' src='ntof-software-architecture/RawFileMerger_Runs.rnc')

            t
              | The following parameters #[bcp14 MAY] be modified:
            table(align="center")
              name Files modifiable parameters
              thead
                tr #[th Parameter] #[th Constraints]
              tbody
                tr
                  td experiment
                  td As long as the run is not yet #[em approved].
                tr
                  td approved
                  td
                    | Can be set to #[tt "1"], can not be set back to #[tt "0"],
                    | #[em experiment] #[bcp14 MUST] be set (may be set in the same command).

          section(anchor="MERGER_Current")
            name MERGER/Current service

            t
              | This service is a Parameters Service as described in
              | #[xref(target="dim-xml-extension-01") DIM XML Extension],
              | it is the same as #[em MERGER/Runs] but provides information about current run only.

            figure
              name MERGER/Current Service #[xref(target="RELAX_NG") relax-ng compact schema].
              sourcecode(type='rnc' src='ntof-software-architecture/RawFileMerger_Current.rnc')

            t
              | The following parameters #[bcp14 MAY] be modified:
            table(align="center")
              name Files modifiable parameters
              thead
                tr #[th Parameter] #[th Constraints]
              tbody
                tr
                  td experiment
                  td As long as the run is not yet #[em approved].
                tr
                  td approved
                  td
                    | Can be set to #[tt "1"], can not be set back to #[tt "0"],
                    | #[em experiment] #[bcp14 MUST] be set (may be set in the same command).

          section(anchor="MERGER_Current_Files")
            name MERGER/Current/Files service

            t
              | This service is a dataset Service as described in
              | #[xref(target="dim-xml-extension-01") DIM XML Extension],
              | it provides live information about the latest run (ongoing or stopped).

            t
              | To retrieve details about a past run the associated
              | #[xref(target="MERGER_Files_RPC") RPC service]
              | #[bcp14 MUST] be used.

            t
              | #[strong Note:] unless a file is #[em COPIED] or #[em MERGED]
              | its size is an estimation an #[bcp14 MAY] not be accurate.

            figure
              name MERGER/Current/Files Service #[xref(target="RELAX_NG") relax-ng compact schema].
              sourcecode(type='rnc' src='ntof-software-architecture/RawFileMerger_Current_Files.rnc')

            section(anchor="MERGER_Files_RPC")
              name MERGER/Files RPC

              t
                | This service is an XML/RPC service as described in
                | #[xref(target='dim-xml-extension-01') DIM XML Extension], it
                | provides information about files associated with a given run.

              figure
                name MERGER/Files/RpcIn
                sourcecode(type='rnc' src='ntof-software-architecture/RawFileMerger_Files_RpcIn.rnc')

              t
                | The #[tt MERGER/Files/RpcOut] service will return XML document
                | that matches the #[tt MERGER/Files] service schema, with two
                | specificities:
              ul
                li
                  | The root is an #[tt acknowledge] element instead of the
                  | #[tt dataset], as described in #[xref(target='dim-xml-extension-01') DIM XML Extension].
                li
                  | The #[tt rate] data is omitted.

      section(anchor="ADDH")
        name ADDH

        t
          | The #[em ADDH] service is used by the #[xref(target='EACS') EACS] to
          | inject ADDH content in #[tt ".event"] files.

        t
          | This service #[bcp14 MUST] be able to access the #[tt ".event"] files,
          | it #[bcp14 SHOULD] be hosted on the same machine than the
          | #[xref(target='EACS') EACS].

        t
          | The output file #[bcp14 MUST] create the file if it didn't exist,
          | and append data at the end leaving other content untouched.

        section
          name Configuration

          t
            | The #[em ADDH] service #[bcp14 MUST] be configured to subscribe to
            | the various services providing additional header information.
          figure
            name ADDH configuration #[xref(target="RELAX_NG") relax-ng compact schema].
            sourcecode(type='rnc' src='ntof-software-architecture/ADDH-Configuration.rnc')

          t
            | The configuration file default location is
            | #[tt "/root/config/nTOF_ADDH.xml"].

        section
          name DIM API

          t The ADDH service implements the following DIM services:
          table(align='center')
            name ADDH services
            thead
              tr #[th Service] #[th Description] #[th Clients]
            tbody
              tr
                td ADDH/State
                td #[xref(target="ADDH_State") ADDH service state]
                td EACS
              tr
                td ADDH/Command
                td #[xref(target="ADDH_Command") send a command to the ADDH]
                td EACS
              tr
                td ADDH/Event
                td #[xref(target="ADDH_Event") ADDH completion event]
                td EACS

          section(anchor="ADDH_State")
            name ADDH/State service

            t
              | This service is a State Service as described in
              | #[xref(target="dim-xml-extension-01") DIM XML Extension],
              | it reports the ADDH current state.

            t
              | This state machine is really basic and is mostly used to report
              | errors and warnings, it only has two states:
            ul
              li #[tt UNDEFINED(0)] initial state
              li #[tt STARTED(1)] when the ADDH service is running

            t
              | A non exhaustive list of possible errors and warnings:
            table(align="center")
              name ADDH errors
              thead
                tr #[th Error] #[th Code] #[th Type] #[th Description]
              tbody
                tr #[td Ack] #[td 30] #[td error] #[td deprecated will be removed]
                tr #[td CmdUnknown] #[td 32] #[td error] #[td command name is not recognized]
                tr #[td CmdError] #[td 33] #[td error] #[td deprecated will be removed]
                tr #[td CmdEmpty] #[td 34] #[td error] #[td command not found in XML document]
                tr #[td WriteErr] #[td 50] #[td error] #[td IO error on file]

          section(anchor="ADDH_Command")
            name ADDH/Command service

            t This service is a Command Service as described in #[xref(target="dim-xml-extension-01") DIM XML Extension].

            figure
              name ADDH/Command Service #[xref(target="RELAX_NG") relax-ng compact schema].
              sourcecode(type='rnc' src='ntof-software-architecture/ADDH-ADDH_Command_cmd.rnc')

            t
              | The #[tt write] command is asynchronous, it will queue the
              | #[tt ADDH] file writing task and directly return to the caller.

            t
              | An #[xref(target='ADDH_Event') ADDH event] will be sent once the
              | file has been written.

          section(anchor="ADDH_Event")
            name ADDH/Event service

            t
              | This service sends an event whenever a #[tt write] command finishes.

            figure
              name ADDH/Event Service #[xref(target="RELAX_NG") relax-ng compact schema].
              sourcecode(type='rnc' src='ntof-software-architecture/ADDH-ADDH_Event.rnc')

      section(anchor="PLCServer")
        name PLCServer bridge

        t
          | The PLCServer is a component that bridges Siemens S7 protocol to DIM.

        t
          | PLC registers are mapped in one or several DIM Parameters Service as
          | described in #[xref(target="dim-xml-extension-01") DIM XML Extension].

        t
          | The PLCServer component exposes a #[tt= "<serverName>/State"] DIM State
          | service, displaying errors from the PLCs (network error ...),
          | this service has only two states (OK and ERROR).

        t
          | #[strong Note:] the DIM Parameters #[bcp14 MAY] not directly reflect
          | modifications, by having different #[em srcDBNumber/srcAddress] and
          | #[em destDBNumber/destAddress] the PLC #[bcp14 MAY] reflect a write
          | only once an action is finished, making this service asynchronous.

        section
          name Configuration

          t
            | The #[em PLCServer] component #[bcp14 MAY] be configured:
          figure
            name PLCServer configuration
            sourcecode(type='rnc' src='ntof-software-architecture/PLCServer_Configuration.rnc')

          t
            | The following types are supported:
          table(align="center")
            name PLCServer data types
            thead
              tr #[th Type] #[th DIM Data Type] #[th PLC Data Type]
            tbody
              tr #[td BYTE] #[td 1 (int32)] #[td uint8_t]
              tr #[td WORD] #[td 1 (int32)] #[td uint16_t]
              tr #[td INT] #[td 1 (int32)] #[td int16_t]
              tr #[td DWORD] #[td 1 (int32)] #[td uint32_t]
              tr #[td DINT] #[td 1 (int32)] #[td int32_t]
              tr #[td REAL] #[td 2 (double)] #[td float]
              tr #[td ENUM] #[td 5 (enum)] #[td int16_t]

          t
            | The #[em destDBNumber] and #[em destAddress] attributes are optional,
            | the DIM Parameter value being read-only when not set.

        section(anchor="FilterStation")
          name Filter Station

          t
            | The #[em FilterStation] is a #[xref(target="PLCServer") PLCServer service]
            | that has the following properties:
          table(align="center")
            name FilterStation properties
            thead
              tr #[th Property] #[th Index] #[th Type]
            tbody
              tr #[td Air pressure] #[td 1] #[td REAL]
              tr #[td Filter 1] #[td 2] #[td ENUM]
              tr #[td Filter 2] #[td 3] #[td ENUM]
              tr #[td Filter 3] #[td 4] #[td ENUM]
              tr #[td Filter 4] #[td 5] #[td ENUM]
              tr #[td Filter 5] #[td 6] #[td ENUM]
              tr #[td Filter 6] #[td 7] #[td ENUM]
              tr #[td Filter 7] #[td 8] #[td ENUM]
              tr #[td Filter 8] #[td 9] #[td ENUM]

          t
            | Filters properties are #[em ENUM] with the following values:
          figure
            name Filter position enum
            sourcecode(type='XML' src='ntof-software-architecture/FilterStation_enum.xml')

          t
            | The filters are moved asynchronously, meaning a filter is modified
            | from DIM, it's value is likely to first be changed to "MOVING" and
            | then to the requested state.

          t
            | The #[em _INTERLOCKED] suffix indicates that an incompatible (size-wise)
            | filter is being used in the station and that this filter can't
            | be controled anymore.

      section(anchor="ProxyServer")
        name DIM Proxy Server

        t
          | The DIM Proxy Server is a component that bridges RDA3, DIP and DIM
          | protocols to DIM.

        t
          | This component is split in server/plugin architecture, each plugin
          | being a standalone process comunicating with the server using a
          | #[em boost message_queue].

        section
          name Plugin/Server Communication

          t
            | Plugin to Server communication is achieved using XML encoded messages:
          figure
            name Proxy Server/Plugin messages #[xref(target="RELAX_NG") relax-ng compact schema].
            sourcecode(type='rnc' src='ntof-software-architecture/ProxyServer_Communication.rnc')

          t
            | The #[em heartbeat] maximum time is set to 10 seconds,
            | plugins #[bcp14 SHOULD] send an heartbeat message at least once
            | every 5 seconds.

          t
            | An additional message-queue is created by each plugin, where
            | #[em command] messages are sent from the server to the plugin,
            | its name being encoded as: #[em= "queueName + sourceName + 'Cmd'"].

          t
            | Each plugin registers its commands by sending a #[em command]
            | message with no #[em dataset] element on the Server message-queue.

          section
            name RDA Plugin details

            t
              | The acquisition data is always a DataSet as described in
              | #[xref(target="dim-xml-extension-01") DIM XML Extension].

            t
              | #[em from] field is built accordingly:
              | #[em= "deviceName + '/' + propertyName"].

            t
              | The acquisition DataSet has built-in properties:
            table(align="center")
              name Proxy RDA plugin built-in properties
              thead
                tr #[th Name] #[th DIM Data Type] #[th Index]
              tbody
                tr #[td aqcStamp] #[td 4 (int64)] #[td 0]
                tr #[td cycleStamp] #[td 4 (int64)] #[td 1]
                tr #[td cycleName] #[td 3 (string)] #[td 2]

            t
              | RDA Tags on the property are inserted in the DataSet starting
              | at index 3, any unknown data type is skipped, still incrementing
              | the index.

            t
              | The following types are supported:
            table(align="center")
              name Proxy RDA plugin data types
              thead
                tr #[th RDA Data Type] #[th DIM Data Type]
              tbody
                tr #[td DT_BYTE] #[td 6 (int8)]
                tr #[td DT_SHORT] #[td 7 (int16)]
                tr #[td DT_INT] #[td 1 (int32)]
                tr #[td DT_LONG] #[td 4 (int64)]
                tr #[td DT_FLOAT] #[td 8 (float)]
                tr #[td DT_DOUBLE] #[td 2 (double)]
                tr #[td DT_STRING] #[td 3 (string)]
                tr #[td DT_BOOL] #[td 9 (bool)]

            t
              | Those types #[bcp14 MAY] be used to send commands, in addition
              | to the DIM Enum type that is converted to #[em DT_INT].

          section
            name DIP Plugin Details

            t
              | The acquisition data is always a DataSet as described in
              | #[xref(target="dim-xml-extension-01") DIM XML Extension].

            t
              | This plugin does not support #[em commands].

            t
              | DipData values are inserted in the DataSet, any unknown data type
              | is skipped, not incrementing the index.

            t
              | The following types are supported:
            table(align="center")
              name Proxy DIP plugin data types
              thead
                tr #[th DIP Data Type] #[th DIM Data Type]
              tbody
                tr #[td TYPE_BYTE] #[td 6 (int8)]
                tr #[td TYPE_SHORT] #[td 7 (int16)]
                tr #[td TYPE_INT] #[td 1 (int32)]
                tr #[td TYPE_LONG] #[td 4 (int64)]
                tr #[td TYPE_FLOAT] #[td 8 (float)]
                tr #[td TYPE_DOUBLE] #[td 2 (double)]
                tr #[td TYPE_STRING] #[td 3 (string)]
                tr #[td TYPE_BOOLEAN] #[td 9 (bool)]


          section
            name DIM Plugin Details

            t
              | The DIM plugin only mirrors XML services as described in
              | #[xref(target="dim-xml-extension-01") DIM XML Extension].

        section
          name Server Configuration

          t
            | The #[em dim-proxy-server] component #[bcp14 MAY] be configured:
          figure
            name DIM Proxy Server configuration
            sourcecode(type='rnc' src='ntof-software-architecture/DIMProxyServer_Configuration.rnc')

        section
          name RDA Plugin Configuration

          t
            | The #[em dim-proxy-rda] component #[bcp14 MAY] be configured
          figure
            name DIM Proxy RDA configuration
            sourcecode(type='rnc' src='ntof-software-architecture/DIMProxyRDA_Configuration.rnc')

        section
          name DIP Plugin Configuration

          t
            | The #[em dim-proxy-dip] component #[bcp14 MAY] be configured
          figure
            name DIM Proxy DIP configuration
            sourcecode(type='rnc' src='ntof-software-architecture/DIMProxyDIP_Configuration.rnc')

        section
          name DIM Plugin Configuration

          t
            | The #[em dim-proxy-dim] component #[bcp14 MAY] be configured
          figure
            name DIM Proxy DIM configuration
            sourcecode(type='rnc' src='ntof-software-architecture/DIMProxyDIM_Configuration.rnc')

        section
          name High Voltage

          t
            | The #[em High Voltage] service is a #[xref(target="ProxyServer") ProxyServer RDA service],
            | that is linked to #[em CaenHVBoard] FESA class.

          t
            | For each board four different services are proxied:
          ul
            li #[strong Acquisition]: A DataSet service publishing latest values for all channels.
            li #[strong BoardInformation]: Detailed information about the HighVoltage board.
            li #[strong OnChannels]: A DataSet publishing vmon/imon values for enabled channels.
            li #[strong Setting]: A Command service to configure channels.

          t
            | The Acquisition service contains information about each channel,
            | each parameter being prefixed with #[em= '"chan" + channelIndex'].

          section
            name Acquisition Details

            t
              | The meaning of each parameter is detailed in
              | #[xref(target="CAENHV_Library") CAEN HV Wrapper] documentation.

            t
              | For each channel a #[em pw] (power) parameter is published
              | as an int32, having the following meaning:
            table(align="center")
              name High Voltage pw
              thead
                tr #[th Value] #[th Meaning]
              tbody
                tr #[td 0] #[td UNKNOWN]
                tr #[td 1] #[td ON]
                tr #[td 2] #[td OFF]

            t
              | For each channel a #[em channelStatusBitfield] is published,
              | this value being a bitfield that can be read as described below:
            table(align="center")
              name High Voltage channelStatusBitField
              thead
                tr #[th Value] #[th Status]
              tbody
                tr #[td 0x01] #[td Channel is on]
                tr #[td 0x02] #[td Channel is ramping up]
                tr #[td 0x04] #[td Channel is ramping down]
                tr #[td 0x08] #[td Channel is in overcurrent]
                tr #[td 0x10] #[td Channel is in overvoltage]
                tr #[td 0x20] #[td Channel is in undervoltage]
                tr #[td 0x40] #[td Channel is in external trip]
                tr #[td 0x80] #[td Channel is in max V]
                tr #[td 0x100] #[td Channel is in external disable]
                tr #[td 0x200] #[td Channel is in internal trip]
                tr #[td 0x400] #[td Channel is in calibration error]
                tr #[td 0x800] #[td Channel is unplugged]
                tr #[td 0x2000] #[td Channel is in OverVoltage Protection]
                tr #[td 0x4000] #[td Channel is in Power Fail]
                tr #[td 0x8000] #[td Channel is in Temperature Error]

            t
              | For each channel a #[em caenErrorCode] and a #[em caenErrorCodeMessage]
              | are published:
            table(align="center")
              name High Voltage caenErrorCode
              thead
                tr #[th caenErrorCode] #[th caenErrorCodeMessage]
              tbody
                tr #[td -1] #[td CAENHVCRATE_NOT_IMPLEMENTED]
                tr #[td -2] #[td CAENHVCRATE_COMMAND_NOT_PERMITTED]
                tr #[td -3] #[td CAENHVCRATE_BOARD_NOT_PRESENT]
                tr #[td -4] #[td CAENHVCRATE_CHANNEL_NOT_PRESENT]
                tr #[td -5] #[td CAENHVCRATE_PARAMETER_NOT_PRESENT]
                tr #[td -6] #[td CAENHVCRATE_GROUP_NOT_PRESENT]
                tr #[td -7] #[td CAENHVCRATE_OUT_OF_RANGE]
                tr #[td -8] #[td CAENHVCRATE_READ_ONLY_PARAMETER]
                tr #[td -9] #[td CAENHVCRATE_WRONG_FORMAT]
                tr #[td -10] #[td CAENHVCRATE_SYSTEM_BUSY]
                tr #[td -11] #[td CAENHVCRATE_SYSTEM_ERROR]
                tr #[td -12] #[td CAENHVCRATE_BAD_LOGIN]
                tr #[td -13] #[td CAENHVCRATE_CONNECTION_REFUSED]
                tr #[td -15] #[td CAENHVCRATE_ACCESS_DENIED]
                tr #[td 1] #[td CAENHV_SYSERR]
                tr #[td 2] #[td CAENHV_WRITEERR]
                tr #[td 3] #[td CAENHV_READERR]
                tr #[td 4] #[td CAENHV_TIMEERR]
                tr #[td 5] #[td CAENHV_DOWN]
                tr #[td 6] #[td CAENHV_NOTPRES]
                tr #[td 7] #[td CAENHV_SLOTNOTPRES]
                tr #[td 8] #[td CAENHV_NOSERIAL]
                tr #[td 9] #[td CAENHV_MEMORYFAULT]
                tr #[td 10] #[td CAENHV_OUTOFRANGE]
                tr #[td 11] #[td CAENHV_EXECCOMNOTIMPL]
                tr #[td 12] #[td CAENHV_GETPROPNOTIMPL]
                tr #[td 13] #[td CAENHV_SETPROPNOTIMPL]
                tr #[td 14] #[td CAENHV_PROPNOTFOUND]
                tr #[td 15] #[td CAENHV_EXECNOTFOUND]
                tr #[td 16] #[td CAENHV_NOTSYSPROP]
                tr #[td 17] #[td CAENHV_NOTGETPROP]
                tr #[td 18] #[td CAENHV_NOTSETPROP]
                tr #[td 19] #[td CAENHV_NOTEXECOMM]
                tr #[td 20] #[td CAENHV_SYSCONFCHANGE]
                tr #[td 21] #[td CAENHV_PARAMPROPNOTFOUND]
                tr #[td 22] #[td CAENHV_PARAMNOTFOUND]
                tr #[td 23] #[td CAENHV_NODATA]
                tr #[td 24] #[td CAENHV_DEVALREADYOPEN]
                tr #[td 25] #[td CAENHV_TOOMANYDEVICEOPEN]
                tr #[td 26] #[td CAENHV_INVALIDPARAMETER]
                tr #[td 27] #[td CAENHV_FUNCTIONNOTAVAILABLE]
                tr #[td 28] #[td CAENHV_SOCKETERROR]
                tr #[td 29] #[td CAENHV_COMMUNICATIONERROR]
                tr #[td 30] #[td CAENHV_NOTYETIMPLEMENTED]
                tr #[td 0x1001] #[td CAENHV_CONNECTED]
                tr #[td 0x1002] #[td CAENHV_NOTCONNECTED]
                tr #[td 0x1003] #[td CAENHV_OS]
                tr #[td 0x1004] #[td CAENHV_LOGINFAILED]
                tr #[td 0x1005] #[td CAENHV_LOGOUTFAILED]
                tr #[td 0x1006] #[td CAENHV_LINKNOTSUPPORTED]
                tr #[td 0x1007] #[td CAENHV_USERPASSFAILED]

      section(anchor="GLOBAL_CONFIG")
        name Global Configuration

        t
          | A global configuration file that is common to most of the
          | middleware components.
        figure
          name Global Configuration #[xref(target="RELAX_NG") relax-ng compact schema].
          sourcecode(type='rnc' src='ntof-software-architecture/Global_Configuration.rnc')

        t
          | This configuration file default location is
          | #[tt "/root/config/misc.xml"].

      section(anchor="MIDDLEWARE_LOCK")
        name Machines Locking

        t
          | Advisory flock is used to prevent updates on the machines whilst
          | acquisition is ongoing, this file #[bcp14 MUST] be
          | #[tt "/run/lock/puppetlock"].

        t
          | This lock #[bcp14 SHOULD] be held when debugging or to run
          | alternative software, any changes #[bcp14 MAY] be overridden
          | (configuration files, binaries) by the automated system update
          | mechanism on the contrary.

        t
          | The following command #[bcp14 MAY] be used:
        figure
          name Middleware Locking command
          sourcecode(type="shell")
            | # lock will be held until shell exits
            | flock -sn /run/lock/puppetlock bash

    section
      name Alarms
      t
        | This section explains how the alarm system works and all the component that are involved.

      section(anchor='AlarmServer')
        name AlarmServer
        t
          | This component connects on different kind of DIM Services and can monitor their status and values.
          | In particular, it can be configured, as explained in the #[xref(target="AlarmServerConfig")]
          | to use different DIM providers:

        ul
          li #[tt DIMon]: It monitors DIM services (No Link).
          li #[tt DIMState]: It monitors DIM States services (No Link) and errors/warnings.
          li
            | #[tt DIMDataSet]: It monitors DIM DataSet services (No Link) and specific DIMData value that
            | can be configured with min/max thresholds.

        t
          | This component allows to connect and register external alarms using interprocess
          | communication (by using #[tt boost::interprocess::message_queue])
          | by sending a correct serialized form of the alarm configuration. Serialized form is:
          | #[em "identifier active lastActive masked disabled"]. Where:

        ul
          li #[tt identifier]: (string) an unique identifier of the alarm
          li #[tt active]: (boolean) is alarm currently active?
          li #[tt lastActive]: (int64) timestamp when the alarm was active last
          li #[tt masked]: (boolean) is alarm masked?
          li #[tt disabled]: (boolean) is alarm disabled?

        t
          | Examples: "customAlarm 0 1603876687 0 1" for a not active and disabled alarm,
          | "customAlarm 1 1603876687 0 0" for a currently active alarm.

        t
          | This component publishes alarms information in different ways:

        ul
          li on a #[strong DIM XML Service] (by default under #[tt /ntof-alarms/Alarms])
          li on a #[strong WebSocket server] (by default listening on port #[tt 8888])

        t
          | All these 2 services are able to provide information about alarms in the following xml format:

        figure
          name /ntof-alarms/Alarms Service #[xref(target="RELAX_NG") relax-ng compact schema].
          sourcecode(type='rnc' src='ntof-software-architecture/AlarmServer_alarms_schema.rnc')

        t
          | The #[strong WebSocket] is reachable by default on port 8888 (ws://hostname:8888). On connect, the client receive a message with
          | the current information about the alarms as shown in the previous schema.
          | The WebSocket connection remains active and the server will send update every time there is a change in the
          | states of alarms.

        t
          | This component offer 2 ways in order to interact with the AlarmServer and mask/disable alarms:

        ul
          li on a #[strong DIM XML Command] (by default under #[tt /ntof-alarms/Alarms/Cmd])
          li on a #[strong HTTP server] (by default listening on port #[tt http://hostname:8888/command?parameters])

        t
          | The DIM Command accept the following commands:

        figure
          name Alarms/Cmd service #[xref(target="RELAX_NG") relax-ng compact schema].
          sourcecode(type='rnc' src='ntof-software-architecture/AlarmServer_Cmd_cmd.rnc')

        t
          | The Web Server is listening also on HTTP protocol (http://hostname:8888). You can send query parameters in
          | order to interact with the alarm server:

        ul
          li
            | #[tt /mask?ident]: toggle masking attribute of the identified alarm. A message by the server is sent
            | with the result of this action (ok or error).
          li
            | #[tt /disable?ident]: toggle disable attribute of the identified alarm. A message by the server is sent
            | with the result of this action (ok or error).
          li #[tt /reload]: clears everything and restart alarm server by reloading the configuration
          li #[tt /get?all|masked|disabled]: retrieve the alarms information (all by default if no parameters are provided)

        section(anchor='AlarmServerConfig')
          name Configuration

          t
            | The #[em Alarm Server] application #[bcp14 SHOULD] be configured accordingly:
          figure
            name AlarmServer Configuration #[xref(target="RELAX_NG") relax-ng compact schema].
            sourcecode(type='rnc' src='ntof-software-architecture/AlarmServer_Configuration.rnc')

          t The configuration file default location is
            | #[tt "/etc/ntof/alarmServer.xml"].

          t
            | The dim dns information is retrieved from the #[xref(target='GLOBAL_CONFIG') global configuration] file.

      section(anchor='PressureAlarm')
        name PressureAlarm
        t
          | The pressure alarm component monitors Pressure Sensors, implemented by FESA class,
          | by using #[xref(target="ProxyServer") DIM Proxy Plugin]
          | and then publishes a DIM State Service as described in #[xref(target="dim-xml-extension-01") DIM XML Extension]
          | using errors/warnings to reflect the current alarm level based on min and max thresholds.

        t
          | If thresholds are not provided by the configuration, they are automatically retrieved from the proxy service.
          | Moreover, It ensures that a given pressure value is within a configure threshold range,
          | moving the DIM State service in ERROR state when out of range for a certain delay.

        t
          | This could have been implemented by using directly the DIMDataSet monitoring, but this component allows
          | to easily configure a list of pressure alarms and brings a certain level of automation.

        section(anchor='PressureAlarmConfig')
          name Configuration

          t
            | The #[em Pressure Alarm] application #[bcp14 SHOULD] be configured accordingly.

          figure
            name PressureAlarm Configuration #[xref(target="RELAX_NG") relax-ng compact schema].
            sourcecode(type='rnc' src='ntof-software-architecture/PressureAlarm_Configuration.rnc')

          t The configuration file default location is
            | #[tt "/etc/ntof/pressureAlarm.xml"].

          t
            | The dim dns information is retrieved from the #[xref(target='GLOBAL_CONFIG') global configuration] file.


      section(anchor='AlarmNotifier')
        name AlarmNotifier
        t
          | This application is an utility that monitors:

        ul
          li #[tt DIM State services]: as described in #[xref(target="dim-xml-extension-01") DIM XML Extension]
          li #[tt Timing service]: as described in #[xref(target="TIMING") the Timing chapter]
          li #[tt Alarms by AlarmServer]: as described in #[xref(target="AlarmServer") the AlarmServer chapter]

        t
          | AlarmNotifier can be configured to react
          | by executing a shell commands, reading a text and playing a sound.
          | In particular the possibilities are:

        ul
          li #[tt command]: execute a shell command that can be configured
          li #[tt speech]: read a configured text with variables
          li #[tt sound]: emit a sound by reading a file specified in the configuration

        t
          | It's mainly used in the Control Room to inform shifters that an event occurred.

        section
          name Configuration

          t
            | The #[em Alarm Notifier] application #[bcp14 SHOULD] be configured in order to listen
            | on alarms and emit sounds.

          figure
            name AlarmNotifier Configuration #[xref(target="RELAX_NG") relax-ng compact schema].
            sourcecode(type='rnc' src='ntof-software-architecture/AlarmNotifier_Configuration.rnc')

          t The configuration file default location is
            | #[tt "$HOME/.config/AlarmNotifier/alarmNotifier.xml"].

          t Here an example of AlarmNotifier configuration:

          figure
            name AlarmNotifier Configuration #[xref(target="RELAX_NG") xml example].
            sourcecode(type='xml' src='ntof-software-architecture/AlarmNotifier_Configuration_Example.xml')


    section(anchor="Database")
      name Database

      t
        | The n_ToF database is used by the following services:
      table(align="center")
        name Database users
        thead
          tr
            th User
            th Accessed Tables
            th Managed Tables
        tbody
          tr
            td #[xref(target="EACS") EACS]
            td MATERIALS_SETUPS, DETECTORS_SETUPS
            td RUNS, CONFIGURATIONS, DAQ_PARAMETERS, HV_PARAMETERS, CASTOR_FILES, CASTOR_FILE_EVENTS
          tr
            td #[xref(target="GUI") GUI]
            td MATERIALS_SETUPS, DETECTORS_SETUPS, USERS
            td COMMENTS

      section(anchor="DB_SCHEMA")
        name Schemas

        figure
          name Database Schemas
          artwork(align='center' type='binary-art' src='ntof-software-architecture/database.svg')

        t
          | #[strong Note:] Numeric values have been used to store dates as
          | milliseconds since EPOCH timestamps.

    section(anchor="EXTRA")
      name Additional Information

      section
        name Shifts

        section
          name Due Points
          t
            | Due-points represent time spent doing shifts at the n_TOF experiment.
            | It is computed and distributed equally amongst all participants.

          t
            | Due-points are defined for each day of the week, depending on
            | the shift-kind (as defined for 2020 operation):

          table(align="center")
            name Points per Week
            thead
              tr
                th Week Day
                th Shift-Leader
                th Night Shifter
                th Morning Shifter
                th Afternoon Shifter

            tbody
              tr #[td Monday]    #[td 0.5] #[td 2]   #[td 1] #[td 1]
              tr #[td Tuesday]   #[td 0.5] #[td 1.5] #[td 1] #[td 1]
              tr #[td Wednesday] #[td 0.5] #[td 1.5] #[td 1] #[td 1]
              tr #[td Thursday]  #[td 0.5] #[td 1.5] #[td 1] #[td 1]
              tr #[td Friday]    #[td 0.5] #[td 1.5] #[td 1] #[td 1]
              tr #[td Saturday]  #[td 0.5] #[td 2]   #[td 2] #[td 2]
              tr #[td Sunday]    #[td 0.5] #[td 2]   #[td 2] #[td 2]
              tr
                td #[strong Total]
                td(colspan="4" align="right") #[strong 33.5]

          t
            | The total number of due points is computed over a complete working
            | year that we round to a number of weeks.

          t #[strong Note:] before 2020, only 1.5 points were earned on Monday night-shift, having a total of 33 points per week.
          t #[strong Note:] before 2016, only 0.3 points were earned by shift-leader, having a total of 31.6 points per week.

          figure
            name Operation Year
            sourcecode
              | # Working days in a year
              | days = 218
              |
              | # Number of weeks in the operation years (rounded)
              | weeks = (218 - 1) / 7 = 31
              |
              | # Total due points
              | due_total = 31 * 33.5 = 1038.5

          t
            | This total number of due-points is then spread across all the
            | participants.

    section(anchor="Deployment")
      name Deployment

      t
        | Middleware applications #[bcp14 MUST] be deployed using
        | #[xref(target="PUPPET") Puppet], the deployment configuration
        | #[bcp14 MUST] be versioned on #[xref(target="NTOF_PUPPET_GIT") n_ToF Puppet master config]
        | repository.

      t
        | Applications #[bcp14 SHOULD] be built and packaged in controlled
        | environment as described in #[tt APC Middleware Development guidelines] document. (FIXME rev+doc needed)

      t Here's an overview of the deployment flow:
      figure
        name Middleware deployment flow
        artwork(align='center' type='binary-art' src='ntof-software-architecture/Middleware-Deploy.png')


    section
      name Contributors
      // Optional section to mention contributors

  back

    references
      name References
      references
        name Normative References
        | &dim-protocol-01;
        | &dim-xml-extension-01;
        | &en-smm-apc-web-dev-guidelines-01;
        | &rfc2119;

      references
        name Informative References

      references
        name URL References
        reference(anchor='DEV_WIKI' target='https://readthedocs.web.cern.ch/display/NTOF/n_TOF+Home')
          front
            title n_TOF development wiki
            author
              organization CERN
            date(year='2016')

        reference(anchor='LEGACY_WEBSITE' target='https://project-ntof.web.cern.ch/project-ntof/')
          front
            title n_TOF legacy website
            author
              organization CERN
            date(year='2016')

        reference(anchor="RELAX_NG" target="https://relaxng.org/")
          front
            title RELAX NG is a schema language for XML
            author(fullname="MURATA Makoto")
              address #[email EB2M-MRT@asahi-net.or.jp]
            author(fullname="James Clark")
              address #[email jjc@jclark.com]
            date(year='2001')

        reference(anchor="PUPPET" target="https://puppet.com/")
          front
            title Unparalleled infrastructure automation and delivery
            author
              organization Puppet
            date(year='2011')

        reference(anchor="CAENHV_Library" target="https://www.caen.it/products/caen-hv-wrapper-library/")
          front
            title Library for CAEN Power Supply Control
            author
              organization CAEN
            date(year='2012')

      references
        name CERN Services and Repositories

        reference(anchor="NTOF_PUPPET_GIT" target="https://gitlab.cern.ch/apc/experiments/ntof/puppet-master-configuration")
          front
            title Puppet Master Configuration Files for n_ToF
            author(fullname="Roberto Cevenini" role='editor')
            author(fullname="Paul Peronnard" role='editor')
            author(fullname="Mathieu Donze" role='editor')

        reference(anchor="CASTOR" target="https://castor.web.cern.ch/")
          front
            title CERN Advanced STORage manager
            author
              organization CERN (IT-ST-TAB)

        reference(anchor="CTA" target="https://cern.service-now.com/service-portal/service-element.do?name=CTA-service")
          front
            title CERN Tape Archive (CTA)
            author
              organization CERN (IT-ST-TAB)

        reference(anchor="BCTFPS_FESA" target="https://ccde.cern.ch/devices/classes/2242/version/36848/properties")
          front
            title BCTFPS FESA Class (used by BCT Reader)
            author
              organization CERN

        reference(anchor="EDMS_VACUUM_PUMPS" target="https://edms.cern.ch/ui/#!master/search/view?objecttype=document&docid=1689915&latestversion=false&hideobsolete=true&dadvanced=true&global=false")
          front
            title EDMS Document about Vacuum Pump States
            author
              organization CERN

    section
      name Legacy API

      section(anchor="EACS_old")
        name EACS [deprecated]

        t
          | The #[em EACS] service is used as a scheduler to synchronize all
          | components together.

        t
          | It #[bcp14 MUST] be the main entry point for the #[xref(target='GUI') GUI].

        section
          name Configuration

          t
            | The #[em EACS] service #[bcp14 SHOULD] be configured to define
            | thresholds and timeout values.
          figure
            name EACS Configuration #[xref(target="RELAX_NG") relax-ng compact schema].
            sourcecode(type='rnc' src='ntof-software-architecture/old/EACS_Configuration.rnc')

          t The configuration file default location is
            | #[tt "/root/config/eacs.xml"].

          t
            | The list of available hardware and services is retrieved from the
            | #[xref(target='GLOBAL_CONFIG') global configuration] file.

        section
          name DIM API

          t The EACS service implements the following DIM services
          table(align='center')
            name DIM services
            thead
              tr #[th Service] #[th Description]
            tbody
              tr
                td EACS/State
                td #[xref(target="EACS_old_State") EACS service state]
              tr
                td EACS/RunInfo
                td #[xref(target="EACS_old_RunInfo") EACS Run Information state]
              tr
                td EACS/FilesInfo
                td #[xref(target="EACS_old_RunInfo") EACS Files and Events information]
              tr
                td EACS/EVEH
                td #[xref(target="EACS_old_EVEH") Last received Event information]
              tr
                td EACS/MODH
                td #[xref(target="EACS_old_MODH") Acquisition cards configuration]
              tr
                td EACS/RCTR
                td #[xref(target="EACS_old_RCTR") Run configuration]
              tr
                td EACS/DAQs
                td #[xref(target="EACS_old_DAQs") Active DAQs list]

              tr
                td EACS/Command
                td #[xref(target="EACS_old_Command") EACS Control]

          section(anchor="EACS_old_State")
            name EACS/State service

            t
              | This service is a State Service as described in
              | #[xref(target="dim-xml-extension-01") DIM XML Extension],
              | it reports the current EACS state.

            figure
              name EACS state diagram
              artwork(align='center' type='binary-art' src='ntof-software-architecture/old/EACS-ServiceStateMachine.png')

          section(anchor="EACS_old_RunInfo")
            name EACS/RunInfo service

            t This service is a DataSet Service as described in
              | #[xref(target="dim-xml-extension-01") DIM XML Extension],
              | it reports information about the ongoing acquisition.

            table
              name EACS/RunInfo service data
              thead
                tr #[th name] #[th index] #[th description]
              tbody
                tr #[td run number] #[td 1] #[td run number]
                tr #[td event number] #[td 2] #[td event number]
                tr #[td number of protons] #[td 3] #[td Number of protons (for current event)]
                tr #[td number of events valid] #[td 4] #[td Number of events validated]
                tr #[td number of daqs in the run] #[td 6] #[td Number of active DAQs for the acquisition]

          section(anchor="EACS_old_FilesInfo")
            name EACS/FilesInfo service

            t
              | This service provides some information about the last events that
              | happened and their file-related status.

            t
              | This service reports information about the #[tt 10] last events
              | that have been reported.

            figure
              name EACS/FilesInfo service #[xref(target="RELAX_NG") relax-ng compact schema].
              sourcecode(type='rnc' src='ntof-software-architecture/old/EACS_FilesInfo.rnc')

          section(anchor="EACS_old_EVEH")
            name EACS/EVEH service

            t This service provides information about the last event retrieved.

            figure
              name EACS/EVEH service #[xref(target="RELAX_NG") relax-ng compact schema].
              sourcecode(type='rnc' src='ntof-software-architecture/old/EACS_EVEH.rnc')

          section(anchor="EACS_old_MODH")
            name EACS/MODH service

            t This service is a Command Service as described in #[xref(target="dim-xml-extension-01") DIM XML Extension].

            t
              | It is used to configure the DAQs before starting an acquisition,
              | commands are accepted by this service on in #[tt WAITING_FOR_HEADERS] or
              | #[tt WAITING_FOR_MODH] #[xref(target='EACS_old_State') EACS State].

            figure
              name EACS/EVEH service #[xref(target="RELAX_NG") relax-ng compact schema].
              sourcecode(type='rnc' src='ntof-software-architecture/old/EACS_MODH_cmd.rnc')

          section(anchor="EACS_old_RCTR")
            name EACS/RCTR service

            t This service is a Command Service as described in #[xref(target="dim-xml-extension-01") DIM XML Extension].

            t
              | It is used to configure the DAQs before starting an acquisition,
              | commands are accepted by this service on in #[tt WAITING_FOR_HEADERS] or
              | #[tt WAITING_FOR_RCTR] #[xref(target='EACS_old_State') EACS State].

            figure
              name EACS/RCTR service #[xref(target="RELAX_NG") relax-ng compact schema].
              sourcecode(type='rnc' src='ntof-software-architecture/old/EACS_RCTR_cmd.rnc')

          section(anchor="EACS_old_DAQs")
            name EACS/DAQs service

            t This service provides information about the currently active DAQs.

            figure
              name EACS/DAQs service #[xref(target="RELAX_NG") relax-ng compact schema].
              sourcecode(type='rnc' src='ntof-software-architecture/old/EACS_DAQs.rnc')

          section(anchor="EACS_old_Command")
            name EACS/Command service

            t This service is a Command Service as described in #[xref(target="dim-xml-extension-01") DIM XML Extension].

            t It is used to send global Commands to the EACS.

            t Commands are accepted only if the EACS is not in error state.

            figure
              name EACS/Command service #[xref(target="RELAX_NG") relax-ng compact schema].
              sourcecode(type='rnc' src='ntof-software-architecture/old/EACS_Command_cmd.rnc')

      section
        name Castor Merger [deprecated]

        t
          | The #[em Castor Merger] service is used to merge acquisition files in
          | a single stream of files, that will be split according to the number
          | of events or size they reach.

        t
          | Once complete files are then copied and pushed on #[xref(target='CASTOR') CASTOR]
          | tape storage.

        section
          name File state

          t
            | A castor file can be in the following states:
          ul
            li #[strong INCOMPLETE] file is not yet finished, some data can be appended.
            li #[strong WAITING] file is waiting to be transferred on Castor.
            li #[strong TRANSFERRING] the file is being transferred to Castor.
            li #[strong COPIED] the file has been copied to Castor, but not yet migrated on tape.
            li #[strong MIGRATED] the file has been migrated on tape.
            li #[strong IGNORED] the file should not be copied to Castor.
            li #[strong FAILED] the Castor transfer failed somehow, further attempts may be achieved.

        section
          name File conflicts handling

          t
            | The CastorMerger supports two different file conflict handling
            | strategies:
          ul
            li
              | #[strong RENAME]: old file is renamed with #[tt ".old"] suffix,
              | or #[tt= '".old[0-9]+"'] incrementing a counter until it finds a
              | free slot.
            li #[strong DELETE]: old file is simply deleted.

          t #[strong Note:] empty files are always deleted.

        section
          name Configuration

          t
            | The #[em CastorMerger] service #[bcp14 MAY] be configured:
          figure
            name CastorMerger configuration
            sourcecode(type='rnc' src='ntof-software-architecture/CastorMerger_Configuration.rnc')

          t
            | The configuration file default location is
            | #[tt "/root/config/castor.xml"].

        section
          name DIM API

          t The CastorMerger service implements the following DIM services
          table(align='center')
            name DIM services
            thead
              tr #[th Service] #[th Description]
            tbody
              tr
                td CASTOR/State
                td #[xref(target='OLD_CASTOR_MERGER_State') Castor Merger service state]
              tr
                td CASTOR/Info
                td #[xref(target='OLD_CASTOR_MERGER_Info') Castor Merger info service]
              tr
                td CASTOR/Cmd
                td #[xref(target='OLD_CASTOR_MERGER_Cmd') Castor Merger command service]

          section(anchor="OLD_CASTOR_MERGER_State")
            name CASTOR/State service

            t
              | This service is a State Service as described in
              | #[xref(target="dim-xml-extension-01") DIM XML Extension],
              | it reports the current CastorMerger state.

            t
              | This state machine is really basic and is mostly used to report
              | errors and warnings, it has only one state (in addition to the
              | builtin states): #[tt OK(0)]
            t
              | A non exhaustive list of possible errors and warnings:
            table(align="center")
              name CASTOR errors
              thead
                tr #[th Error] #[th Code] #[th Type] #[th Description]
              tbody
                tr #[td= "<filename>"] #[td incremental] #[td warning] #[td some warning about a specific file]
                tr #[td= "<filename>"] #[td incremental] #[td error] #[td some error about a specific file]
                tr #[td CmdError] #[td 1] #[td error] #[td received command error]
                tr #[td runCompletionChecker] #[td incremental] #[td error] #[td something went wrong in the runCompletionChecker thread]
                tr #[td Deleter] #[td incremental] #[td error] #[td something went wrong in the FileDeleter thread]

            t
              | The maximum number of active warnings and errors is limited
              | dropping incoming errors and warnings when there's already too
              | much (default limit: #[tt 20]).

          section(anchor="OLD_CASTOR_MERGER_Info")
            name CASTOR/Info service

            t
              | This service provides information about the latest files that
              | are being handled by the Castor Merger.

            t
              | It will only keep up to a certain number (default: #[tt 10]) of files
              | that are in #[tt COPIED], #[tt MIGRATED] or #[tt IGNORED] state.

            figure
              name CASTOR/Info Service #[xref(target="RELAX_NG") relax-ng compact schema].
              sourcecode(type='rnc' src='ntof-software-architecture/CastorMerger_Info.rnc')

          section(anchor="OLD_CASTOR_MERGER_Cmd")
            name CASTOR/Cmd service

            t This service is a Command Service as described in #[xref(target="dim-xml-extension-01") DIM XML Extension].

            figure
              name CASTOR/Cmd Service #[xref(target="RELAX_NG") relax-ng compact schema].
              sourcecode(type='rnc' src='ntof-software-architecture/CastorMerger_Cmd_cmd.rnc')

    section
      name SQL Queries
      t
        | Here are some convenient SQL queries

      figure
        name SQL Queries
        sourcecode(type="SQL")
          | /* list shifters earned points and shifts for given year */
          | SELECT
          |   ASSO_OPER_YEAR AS OPER_YEAR,
          |   ASSO_USER_ID AS USER_ID,
          |   ASSO_INST_ID AS INST_ID,
          |   COUNT(case SHIFT_SHK_KIND when 'shift-leader' then 1 else null end) AS SHIFT_LEADER,
          |   COUNT(case SHIFT_SHK_KIND when 'night' then 1 else null end) AS NIGHT,
          |   COUNT(case SHIFT_SHK_KIND when 'morning' then 1 else null end) AS MORNING,
          |   COUNT(case SHIFT_SHK_KIND when 'afternoon' then 1 else null end) AS AFTERNOON,
          |   SUM(POINT_VALUE) AS POINTS
          |   FROM ASSOCIATIONS
          |     INNER JOIN SHIFTS ON ASSO_ID = SHIFT_ASSO_ID
          |     INNER JOIN POINTS_SHIFTS ON
          |       SHIFT_SHK_KIND = POINT_SHK_KIND AND
          |       ASSO_OPER_YEAR = POINT_OPER_YEAR AND
          |       TO_CHAR(SHIFT_DATE, 'D') = (POINT_DAY_OF_WEEK + 1)
          |   WHERE ASSO_OPER_YEAR = 2011
          |   GROUP BY ASSO_OPER_YEAR, ASSO_USER_ID, ASSO_INST_ID
          |   ORDER BY ASSO_USER_ID;
          |
          |  /* list institute earned points and shifts for given year */
          |  SELECT
          |    ASSO_OPER_YEAR AS OPER_YEAR,
          |    ASSO_INST_ID AS INST_ID,
          |    COUNT(case SHIFT_SHK_KIND when 'shift-leader' then 1 else null end) AS SHIFT_LEADER,
          |    COUNT(case SHIFT_SHK_KIND when 'night' then 1 else null end) AS NIGHT,
          |    COUNT(case SHIFT_SHK_KIND when 'morning' then 1 else null end) AS MORNING,
          |    COUNT(case SHIFT_SHK_KIND when 'afternoon' then 1 else null end) AS AFTERNOON,
          |    SUM(POINT_VALUE) AS POINTS
          |    FROM ASSOCIATIONS
          |      INNER JOIN SHIFTS ON ASSO_ID = SHIFT_ASSO_ID
          |      INNER JOIN POINTS_SHIFTS ON
          |        SHIFT_SHK_KIND = POINT_SHK_KIND AND
          |        ASSO_OPER_YEAR = POINT_OPER_YEAR AND
          |        TO_CHAR(SHIFT_DATE, 'D') = (POINT_DAY_OF_WEEK + 1)
          |  WHERE ASSO_OPER_YEAR = 2010
          |  GROUP BY ASSO_OPER_YEAR, ASSO_INST_ID
          |  ORDER BY ASSO_INST_ID;

    section
      name Change Log
      dl
        dt 01
        dd First revision

    section
      name Open Issues
      ul
        li Work in progress
